<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Sproutcore Desktop</title>
  <script type="text/javascript">
/* >>>>>>>>>> BEGIN source/core.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================


/* >>>>>>>>>> BEGIN source/system/browser.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var SC = SC || { BUNDLE_INFO: {}, LAZY_INSTANTIATION: {} };

SC.browser = (function() {
  var userAgent = navigator.userAgent.toLowerCase();
  var version = (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [])[1] ;

  var browser = {
    version: version,
    safari: (/webkit/).test( userAgent ) ? version : 0,
    opera: (/opera/).test( userAgent ) ? version : 0,
    msie: (/msie/).test( userAgent ) && !(/opera/).test( userAgent ) ? version : 0,
    mozilla: (/mozilla/).test( userAgent ) && !(/(compatible|webkit)/).test( userAgent ) ? version : 0,
    mobileSafari: (/apple.*mobile.*safari/).test(userAgent) ? version : 0,
    windows: !!(/(windows)/).test(userAgent),
    mac: !!((/(macintosh)/).test(userAgent) || (/(mac os x)/).test(userAgent)),
    language: (navigator.language || navigator.browserLanguage).split('-', 1)[0]
  };
  
    browser.current = browser.msie ? 'msie' : browser.mozilla ? 'mozilla' : browser.safari ? 'safari' : browser.opera ? 'opera' : 'unknown' ;
  return browser ;
})();

/* >>>>>>>>>> BEGIN source/system/loader.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

SC.bundleDidLoad = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  if (!info) info = this.BUNDLE_INFO[bundle] = {} ;
  info.loaded = true ;
};

SC.bundleIsLoaded = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  return info ? !!info.loaded : false ;
};

SC.loadBundle = function() { throw "SC.loadBundle(): SproutCore is not loaded."; };

SC.setupBodyClassNames = function() {
  var el = document.body ;
  if (!el) return ;
  var browser, platform, shadows, borderRad, classNames, style;
  browser = SC.browser.current ;
  platform = SC.browser.windows ? 'windows' : SC.browser.mac ? 'mac' : 'other-platform' ;
  style = document.documentElement.style;
  shadows = (style.MozBoxShadow !== undefined) || 
                (style.webkitBoxShadow !== undefined) ||
                (style.oBoxShadow !== undefined) ||
                (style.boxShadow !== undefined);
  
  borderRad = (style.MozBorderRadius !== undefined) || 
              (style.webkitBorderRadius !== undefined) ||
              (style.oBorderRadius !== undefined) ||
              (style.borderRadius !== undefined);
  
  classNames = el.className ? el.className.split(' ') : [] ;
  if(shadows) classNames.push('box-shadow');
  if(borderRad) classNames.push('border-rad');
  classNames.push(browser) ;
  classNames.push(platform) ;
  if (SC.browser.msie==7) classNames.push('ie7') ;
  if (SC.browser.mobileSafari) classNames.push('mobile-safari') ;
  el.className = classNames.join(' ') ;
} ;

/* >>>>>>>>>> BEGIN bundle_loaded.js */
; if ((typeof SC !== 'undefined') && SC && SC.bundleDidLoad) SC.bundleDidLoad('sproutcore/bootstrap');

</script>

     <link href="/static/sproutcore/testing/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/foundation/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/desktop/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
   
    
  </head>
    
  <body class="sc-theme focus" style="overflow:hidden;" >  
<script type="text/javascript">
/* >>>>>>>>>> BEGIN source/setup_body_class_names.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

// sc_resource('setup_body_class_names'); // publish into inline format

if (SC.setupBodyClassNames) SC.setupBodyClassNames() ;


</script>


  <script type="text/javascript" src="/static/sproutcore/debug/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/testing/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/runtime/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/datastore/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/foundation/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/desktop/en/current/javascript.js?1262955395"></script>
<script type="text/javascript">String.preferredLanguage = "en";</script>
<script type="text/javascript">
if (typeof SC !== "undefined") {
  SC.mode = "TEST_MODE";
  SC.filename = "static/sproutcore/desktop/en/current/tests/views/web/ui.js"; 
}
(function() {
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            portions copyright @2009 Apple Inc.
// License:   Licened under MIT license (see license.js)
// ==========================================================================
/*global module test htmlbody ok equals same stop start v*/

(function() {
  var pane = SC.ControlTestPane.design()

  .add("basic", SC.WebView, {
    value: "/clock",
    layout: {
      width: 250,
      height: 150
    }
  }).add("change src/value", SC.WebView, {
    value: "/clock",
    layout: {
      width: 250,
      height: 150
    }
  }).add("auto resize", SC.WebView, {
    value: '/static/sproutcore/desktop/en/current/debug/iframe.html?1262955016',
    shouldAutoResize: YES,
    layout: {
      width: 250,
      height: 150
    }
  }).add("don\'t auto resize", SC.WebView, {
    shouldAutoResize: NO,
    //set the value later when you need it
    layout: {
      width: 250,
      height: 150
    }
  });

  pane.show(); // add a test to show the test pane
  // ..........................................................
  // TEST VIEWS
  // 
  module('SC.WebView UI');

  test("attributes tests",
  function() {
    var view = pane.view('basic');
    var iframe = view.$('iframe');
    var rootElement = view.$();
    ok(view, 'view should exist');
    ok(view.get('value'), 'should have value property');
    equals(view.get('shouldAutoResize'), NO, 'should have autoresize off by default, shouldAutoResize');
    ok(rootElement.hasClass('sc-view'), 'should have sc-view css class');
    ok(rootElement.hasClass('sc-web-view'), 'should have sc-web-view css class');
    equals(rootElement.height(), 150, 'should have height');
    equals(rootElement.width(), 250, 'should have width');
    ok(iframe, 'should have iframe element');
    equals(iframe.attr('src'), "/clock", "should have source as /clock");
    ok(iframe[0].contentWindow, 'should have content window if src is from the same domain');

  });

  test('change src/value',
  function() {
    var view = pane.view('change src/value');
    var iframe = view.$('iframe');
    equals(view.get('value'), "/clock", "should have value property in view as \'/clock\' before changing source");
    SC.RunLoop.begin();
    view.set('value', "/store_configurator");
    SC.RunLoop.end();
    equals(view.get('value'), "/store_configurator", "should have value property in view as \'/store_configurator\' after changing source");
    equals(iframe.attr('src'), "/store_configurator", "should have source in the iframe as \'/store_configurator\'");
  });

  test('auto resize tests, shouldAutoResize:YES',
  function() {
    var view = pane.view('auto resize');
    //set the test wrapper element's overflow to auto so that you can see the resize magic'
    view.$()[0].parentNode.style.overflow = "auto";
    equals(view.get('shouldAutoResize'), YES, 'should have auto resize flag as true');
    stop();
    SC.Event.add(view.$('iframe')[0], 'load', this,
    function() {
      ok(view.$().height() > 150, "height of view should change based on content");
      ok(view.$().width() > 200, "width of view should change based on content");
      start();
    });
  });

  test('auto resize tests, shouldAutoResize:NO',
  function() {
    var view = pane.view('don\'t auto resize');
    equals(view.get('shouldAutoResize'), NO, 'should have auto resize flag as false');
    
    /** set the src a bit late so that the following onload event get's hooked 
    up before it actually loads
    */
    SC.RunLoop.begin();
    view.set('value', '/static/sproutcore/desktop/en/current/debug/iframe.html?1262955016');
    SC.RunLoop.end();
    stop();
    SC.Event.add(view.$('iframe')[0], 'load', this,
    function() {
      ok(view.$().height() === 150, "height of view should not change based on content");
      ok(view.$().width() === 250, "width of view should not change based on content");
      start();
    });
  });
})();

})();
</script>
	</body>
</html>
