<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Sproutcore Desktop</title>
  <script type="text/javascript">
/* >>>>>>>>>> BEGIN source/core.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================


/* >>>>>>>>>> BEGIN source/system/browser.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var SC = SC || { BUNDLE_INFO: {}, LAZY_INSTANTIATION: {} };

SC.browser = (function() {
  var userAgent = navigator.userAgent.toLowerCase();
  var version = (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [])[1] ;

  var browser = {
    version: version,
    safari: (/webkit/).test( userAgent ) ? version : 0,
    opera: (/opera/).test( userAgent ) ? version : 0,
    msie: (/msie/).test( userAgent ) && !(/opera/).test( userAgent ) ? version : 0,
    mozilla: (/mozilla/).test( userAgent ) && !(/(compatible|webkit)/).test( userAgent ) ? version : 0,
    mobileSafari: (/apple.*mobile.*safari/).test(userAgent) ? version : 0,
    windows: !!(/(windows)/).test(userAgent),
    mac: !!((/(macintosh)/).test(userAgent) || (/(mac os x)/).test(userAgent)),
    language: (navigator.language || navigator.browserLanguage).split('-', 1)[0]
  };
  
    browser.current = browser.msie ? 'msie' : browser.mozilla ? 'mozilla' : browser.safari ? 'safari' : browser.opera ? 'opera' : 'unknown' ;
  return browser ;
})();

/* >>>>>>>>>> BEGIN source/system/loader.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

SC.bundleDidLoad = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  if (!info) info = this.BUNDLE_INFO[bundle] = {} ;
  info.loaded = true ;
};

SC.bundleIsLoaded = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  return info ? !!info.loaded : false ;
};

SC.loadBundle = function() { throw "SC.loadBundle(): SproutCore is not loaded."; };

SC.setupBodyClassNames = function() {
  var el = document.body ;
  if (!el) return ;
  var browser, platform, shadows, borderRad, classNames, style;
  browser = SC.browser.current ;
  platform = SC.browser.windows ? 'windows' : SC.browser.mac ? 'mac' : 'other-platform' ;
  style = document.documentElement.style;
  shadows = (style.MozBoxShadow !== undefined) || 
                (style.webkitBoxShadow !== undefined) ||
                (style.oBoxShadow !== undefined) ||
                (style.boxShadow !== undefined);
  
  borderRad = (style.MozBorderRadius !== undefined) || 
              (style.webkitBorderRadius !== undefined) ||
              (style.oBorderRadius !== undefined) ||
              (style.borderRadius !== undefined);
  
  classNames = el.className ? el.className.split(' ') : [] ;
  if(shadows) classNames.push('box-shadow');
  if(borderRad) classNames.push('border-rad');
  classNames.push(browser) ;
  classNames.push(platform) ;
  if (SC.browser.msie==7) classNames.push('ie7') ;
  if (SC.browser.mobileSafari) classNames.push('mobile-safari') ;
  el.className = classNames.join(' ') ;
} ;

/* >>>>>>>>>> BEGIN bundle_loaded.js */
; if ((typeof SC !== 'undefined') && SC && SC.bundleDidLoad) SC.bundleDidLoad('sproutcore/bootstrap');

</script>

     <link href="/static/sproutcore/testing/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/foundation/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/desktop/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
   
    
  </head>
    
  <body class="sc-theme focus" style="overflow:hidden;" >  
<script type="text/javascript">
/* >>>>>>>>>> BEGIN source/setup_body_class_names.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

// sc_resource('setup_body_class_names'); // publish into inline format

if (SC.setupBodyClassNames) SC.setupBodyClassNames() ;


</script>


  <script type="text/javascript" src="/static/sproutcore/debug/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/testing/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/runtime/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/datastore/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/foundation/en/current/javascript.js?1262955395"></script>
  <script type="text/javascript" src="/static/sproutcore/desktop/en/current/javascript.js?1262955395"></script>
<script type="text/javascript">String.preferredLanguage = "en";</script>
<script type="text/javascript">
if (typeof SC !== "undefined") {
  SC.mode = "TEST_MODE";
  SC.filename = "static/sproutcore/desktop/en/current/tests/views/scroll/methods.js"; 
}
(function() {
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            portions copyright @2009 Apple Inc.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

/*global module test htmlbody ok equals same stop start */

var pane, view , view2;
var appleURL='http://photos4.meetupstatic.com/photos/event/4/6/9/9/600_4518073.jpeg';
module("SC.ScrollView",{
	setup: function() {
	  SC.RunLoop.begin();
	    pane = SC.MainPane.create({
		  childViews: [
		   SC.ScrollView.extend({
		     contentView: SC.ImageView.design({value: appleURL, layout: {height:4000, width:4000}})
		   }),
		   SC.ScrollView.extend({
		     contentView: SC.ImageView.design({value: appleURL, layout: {height:2000, width:2000}})
		   })
		   
		   ],
		   
		  expectedVertLine: function(line) {
			var ret = view.get('verticalLineScroll')*line;
			var alt = view.get('maximumVerticalScrollOffset');
			ret = (ret > alt)? alt : ret;
		    return ret;
		  },
		  expectedHorzLine: function(line) {
			var ret = view.get('horizontalLineScroll')*line;
			var alt = view.get('maximumHorizontalScrollOffset');
			ret = (ret > alt)? alt : ret;
		    return ret;
		  },
		  expectedVertPage: function(page) {
			var ret = view.get('verticalPageScroll')*page;
			var alt = view.get('maximumVerticalScrollOffset');
			ret = (ret > alt)? alt : ret;
		    return ret;
		  },
		  expectedHorzPage: function(page) {
			var ret = view.get('horizontalPageScroll')*page;
			var alt = view.get('maximumHorizontalScrollOffset');
			ret = (ret > alt)? alt : ret;
		    return ret;
		  }
		});
		
		
		pane.append(); // make sure there is a layer...
	  SC.RunLoop.end();	
	  view = pane.childViews[0];
	  view.get('containerView').get('frame').height = 100;
	  view.get('containerView').get('frame').width = 100;

	  view2 = pane.childViews[1];
	  view2.get('containerView').get('frame').height = 100;
	  view2.get('containerView').get('frame').width = 100;
	  
	},
	
	teardown: function() {
    	pane.remove();
    	pane = view = null ;
  	}
});



test("Scrolling to a certain co-ordinate of the container view", function() {
	equals(view.get('horizontalScrollOffset'), 0, "Initial horizontal offset must be zero");
	equals(view.get('verticalScrollOffset'), 0, "Initial vertical offset must be zero");
	SC.RunLoop.begin();
	view.scrollTo(100, 100);
	SC.RunLoop.end();
	
	equals(view.get('horizontalScrollOffset'), 100, "After scrolling to 100, horizontal offset must be");
	equals(view.get('verticalScrollOffset'), 100, "After scrolling to 100, vertical offset must be");
	view.scrollTo(5000, 5000);
	equals(view.get('horizontalScrollOffset'), view.get('maximumHorizontalScrollOffset'), "After scrolling to 400, horizontal offset must be maximum");
	equals(view.get('verticalScrollOffset'), view.get('maximumVerticalScrollOffset'), "After scrolling to 400, vertical offset must be maximum");
});

test("Scrolling relative to the current possition of the container view", function() {
	equals(view.get('horizontalScrollOffset'), 0, "Initial horizontal offset must be zero");
	equals(view.get('verticalScrollOffset'), 0, "Initial vertical offset must be zero");
	view.scrollBy(100, 100);
	equals(view.get('horizontalScrollOffset'), 100, "After scrolling by 100, horizontal offset must be");
	equals(view.get('verticalScrollOffset'), 100, "After scrolling by 100, vertical offset must be");
	view.scrollBy(100, 100);
	equals(view.get('horizontalScrollOffset'), 200, "After scrolling by 100, horizontal offset must be");
	equals(view.get('verticalScrollOffset'), 200, "After scrolling by 100, vertical offset must be");
	view.scrollBy(5000, 5000);
	equals(view.get('horizontalScrollOffset'), view.get('maximumHorizontalScrollOffset'), "After scrolling by 400, horizontal offset must be maximum");
	equals(view.get('verticalScrollOffset'), view.get('maximumVerticalScrollOffset'), "After scrolling by 400, vertical offset must be maximum");
});

test("Scrolling through line by line", function() {
	var line = 3;
	equals(view.get('horizontalScrollOffset'), 0, "Initial horizontal offset must be zero");
	equals(view.get('verticalScrollOffset'), 0, "Initial vertical offset must be zero");
	view.scrollDownLine(line);
	equals(view.get('horizontalScrollOffset'), 0, "After scrolling down by lines, horizontal offset is unchanged");
	equals(view.get('verticalScrollOffset'), pane.expectedVertLine(line), "After scrolling down by lines, vertical offset must be");
	view.scrollUpLine(line);
});

test("maximumHorizontalScrollOffset() returns the maximum horizontal scroll dimention", function() {
  var old_horizontalScrollOffset=2;
  var old_verticalScrollOffset=2;

  view2.set('horizontalScrollOffset',old_horizontalScrollOffset);
  view2.set('verticalScrollOffset',old_verticalScrollOffset);
  view2.scrollBy(5000, 0);
  view2.get('horizontalScrollOffset');

  equals(view2.get('horizontalScrollOffset'),1900, 'maximum y coordinate should be 1900');	
 
  view2.set('horizontalScrollOffset',old_horizontalScrollOffset);
  view2.set('verticalScrollOffset',old_verticalScrollOffset);
  view2.scrollBy(-5000,0);
  equals(view2.get('horizontalScrollOffset'),0, 'minimum y coordinate should be 0');	
  	
});

test("maximumVerticalScrollOffset() returns the maximum vertical scroll dimention", function() {
  var old_horizontalScrollOffset=2;
  var old_verticalScrollOffset=2;

  view2.set('horizontalScrollOffset',old_horizontalScrollOffset);
  view2.set('verticalScrollOffset',old_verticalScrollOffset);
  view2.scrollBy(0, 5000);
  view2.get('maximumVerticalScrollOffset');
  equals(view2.get('verticalScrollOffset'),1900, 'maximum coordinate should be 1900'); 
  view2.set('horizontalScrollOffset',old_horizontalScrollOffset);
  view2.set('verticalScrollOffset',old_verticalScrollOffset);
  view2.scrollBy(0,-5000);
  equals(view2.get('verticalScrollOffset'),0, 'The minimum y coordinate should be 0');
 
});
})();
</script>
	</body>
</html>
