<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Sproutcore Desktop</title>
  <script type="text/javascript">
/* >>>>>>>>>> BEGIN source/core.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================


/* >>>>>>>>>> BEGIN source/system/browser.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var SC = SC || { BUNDLE_INFO: {}, LAZY_INSTANTIATION: {} };

SC.browser = (function() {
  var userAgent = navigator.userAgent.toLowerCase();
  var version = (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [])[1] ;

  var browser = {
    version: version,
    safari: (/webkit/).test( userAgent ) ? version : 0,
    opera: (/opera/).test( userAgent ) ? version : 0,
    msie: (/msie/).test( userAgent ) && !(/opera/).test( userAgent ) ? version : 0,
    mozilla: (/mozilla/).test( userAgent ) && !(/(compatible|webkit)/).test( userAgent ) ? version : 0,
    mobileSafari: (/apple.*mobile.*safari/).test(userAgent) ? version : 0,
    windows: !!(/(windows)/).test(userAgent),
    mac: !!((/(macintosh)/).test(userAgent) || (/(mac os x)/).test(userAgent)),
    language: (navigator.language || navigator.browserLanguage).split('-', 1)[0]
  };
  
    browser.current = browser.msie ? 'msie' : browser.mozilla ? 'mozilla' : browser.safari ? 'safari' : browser.opera ? 'opera' : 'unknown' ;
  return browser ;
})();

/* >>>>>>>>>> BEGIN source/system/loader.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

SC.bundleDidLoad = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  if (!info) info = this.BUNDLE_INFO[bundle] = {} ;
  info.loaded = true ;
};

SC.bundleIsLoaded = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  return info ? !!info.loaded : false ;
};

SC.loadBundle = function() { throw "SC.loadBundle(): SproutCore is not loaded."; };

SC.setupBodyClassNames = function() {
  var el = document.body ;
  if (!el) return ;
  var browser, platform, shadows, borderRad, classNames, style;
  browser = SC.browser.current ;
  platform = SC.browser.windows ? 'windows' : SC.browser.mac ? 'mac' : 'other-platform' ;
  style = document.documentElement.style;
  shadows = (style.MozBoxShadow !== undefined) || 
                (style.webkitBoxShadow !== undefined) ||
                (style.oBoxShadow !== undefined) ||
                (style.boxShadow !== undefined);
  
  borderRad = (style.MozBorderRadius !== undefined) || 
              (style.webkitBorderRadius !== undefined) ||
              (style.oBorderRadius !== undefined) ||
              (style.borderRadius !== undefined);
  
  classNames = el.className ? el.className.split(' ') : [] ;
  if(shadows) classNames.push('box-shadow');
  if(borderRad) classNames.push('border-rad');
  classNames.push(browser) ;
  classNames.push(platform) ;
  if (SC.browser.msie==7) classNames.push('ie7') ;
  if (SC.browser.mobileSafari) classNames.push('mobile-safari') ;
  el.className = classNames.join(' ') ;
} ;

/* >>>>>>>>>> BEGIN bundle_loaded.js */
; if ((typeof SC !== 'undefined') && SC && SC.bundleDidLoad) SC.bundleDidLoad('sproutcore/bootstrap');

</script>

     <link href="/static/sproutcore/testing/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/foundation/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/desktop/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
   
    
  </head>
    
  <body class="sc-theme focus" style="overflow:hidden;" >  
<script type="text/javascript">
/* >>>>>>>>>> BEGIN source/setup_body_class_names.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

// sc_resource('setup_body_class_names'); // publish into inline format

if (SC.setupBodyClassNames) SC.setupBodyClassNames() ;


</script>


  <script type="text/javascript" src="/static/sproutcore/debug/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/testing/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/runtime/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/datastore/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/foundation/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/desktop/en/current/javascript.js?1262955396"></script>
<script type="text/javascript">String.preferredLanguage = "en";</script>
<script type="text/javascript">
if (typeof SC !== "undefined") {
  SC.mode = "TEST_MODE";
  SC.filename = "static/sproutcore/desktop/en/current/tests/views/collection/content.js"; 
}
(function() {
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            portions copyright @2009 Apple Inc.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var view, content1, content2 ;

module("SC.CollectionView.content", {
  setup: function() {
    
    // stub in collection view to verify that proper method are called
    view = SC.CollectionView.create({

      // ..........................................................
      // STUB: contentPropertyDidChange
      // 
      contentPropertyDidChange: CoreTest.stub('contentPropertyDidChange'),
      
      // ..........................................................
      // STUB: computeLayout
      // 
      computeLayout: CoreTest.stub('computeLayout'),
      
      // ..........................................................
      // STUB: RELOAD
      // 
      reload: CoreTest.stub("reload", {
        
        // detect if we would reload everything.
        shouldReloadAll: function() {
          var history = this.history, 
              loc = history.length,
              args;
              
          while(--loc >= 0) {
            args = history[loc];
            if (args <= 1) return YES ; 
            if (args[1] === null) return YES ;
            if (args[0].get('nowShowing').contains(args[1])) return YES ;            
          }
          return NO ;
        },

        // join all reload indexes passed excluding null or undefined
        indexes: function() { 
          var history = this.history, 
              loc = history.length,
              ret = SC.IndexSet.create(),
              args;
              
          while(--loc >= 0) {
            args = history[loc];
            if (args[1] && args[1].isIndexSet) ret.add(args[1]);
          }
          
          return ret ;
        },

        // need to save the passed indexes set as a clone because it may be
        // reused later...
        action: function(indexes) {
          var history = this.reload.history;  // note "this" is view
          if (indexes) {
            history[history.length-1][1] = indexes.clone();
          }
          
          // simulate calling computeLayout() to match original impl.
          this.computeLayout();
          
          return this ;
        },
        
        expect: function(indexes, callCount) {

          if (indexes === YES) {
            equals(this.shouldReloadAll(), YES, 'reload() should reload all');
          } else if (indexes !== NO) {
            var expected = this.indexes();
            var passed = indexes.isEqual(expected);
            ok(passed, "expected reload(%@), actual: reload(%@)".fmt(indexes, expected));
          }

          if (callCount !== undefined) {
            equals(this.callCount, callCount, 'reload() should have been called X times');
          }

          this.reset();
        }
                
      }),
      
      expectLength: function(len) {
        equals(view.get('length'), len, 'view.length after change');


        var nowShowing = view.get('nowShowing'),
            expected = SC.IndexSet.create(0,len);
        ok(expected.isEqual(nowShowing), 'nowShowing expected: %@, actual: %@'.fmt(expected, nowShowing));
      },
      
      // reset stubs
      reset: function() {
        this.reload.reset();
        this.contentPropertyDidChange.reset();
        this.computeLayout.reset();
      }
      
    });
    
    content1 = "a b c d e f".w().map(function(x) { 
      return SC.Object.create({ title: x }); 
    });
    
    content2 = "d e f x y z".w().map(function(x) { 
      return SC.Object.create({ title: x }); 
    });
    
  }
});

// ..........................................................
// BASIC EDITS
// 

test("setting content for first time", function() {
  equals(view.get('content'), null, 'precond - view.content should be null');
  
  view.set('content', content1);
  view.reload.expect(YES, 2); // should reload everything
  view.contentPropertyDidChange.expect(0); // should not call
  view.computeLayout.expect(YES);
  view.expectLength(content1.get('length'));
});

test("changing content with different size", function() {

  view.set('content', "a b".w());
  view.reset();
  
  view.set('content', content2);
  view.reload.expect(YES, 2); // call twice?
  view.contentPropertyDidChange.expect(0); // should not call
  view.computeLayout.expect(YES);
  view.expectLength(content2.get('length'));
});

test("changing content with same size", function() {

  view.set('content', "a b".w());
  view.reset();
  
  view.set('content', content2);
  view.reload.expect(YES); 
  view.contentPropertyDidChange.expect(0); // should not call
  view.computeLayout.expect(YES);
  view.expectLength(content2.get('length'));
});

test("changing the content of a single item should reload that item", function() {
  
  view.set('content', content1);
  view.reset(); // don't care about this fire
  
  content1.replace(1,1, ["X"]);
  view.reload.expect(SC.IndexSet.create(1));
  view.contentPropertyDidChange.expect(0); // should not call
  view.computeLayout.expect(YES);
  view.expectLength(content1.get('length'));
});

test("changing the content of several items should reload each item", function() {
  
  view.set('content', content1);
  view.reset(); // don't care about this fire
  
  content1.replace(1,1, ["X"]);
  content1.replace(3,1, ["X"]);
  view.reload.expect(SC.IndexSet.create(1).add(3));
  view.contentPropertyDidChange.expect(0); // should not call
  view.computeLayout.expect(YES);
  view.expectLength(content1.get('length'));
});

test("adding to end of content should reload new items", function() {
  
  view.set('content', content1);
  view.reset(); // don't care about this fire
  
  content1.pushObject("X");
  content1.pushObject("Y");

  view.reload.expect(SC.IndexSet.create(content1.get('length')-2, 2));
  view.contentPropertyDidChange.expect(0); // should not call
  view.expectLength(content1.get('length'));
  view.computeLayout.expect(YES);
});

test("removing from end of content should reload removed items", function() {
  
  view.set('content', content1);
  view.reset(); // don't care about this fire
  
  content1.popObject();
  content1.popObject();

  view.reload.expect(SC.IndexSet.create(content1.get('length'), 2));
  view.contentPropertyDidChange.expect(0); // should not call
  view.expectLength(content1.get('length'));
  view.computeLayout.expect(YES);
});

test("inserting into middle should reload all following items", function() {
  view.set('content', content1);
  view.reset(); // don't care about this fire
  
  content1.insertAt(3, 'FOO');

  view.reload.expect(SC.IndexSet.create(3, content1.get('length')-3));
  view.contentPropertyDidChange.expect(0); // should not call
  view.expectLength(content1.get('length'));
  view.computeLayout.expect(YES);
});

// ..........................................................
// EDITING PROPERTIES
// 

test("editing properties", function() {
  view.set('content', content1);
  view.reset();
  view.contentPropertyDidChange.reset();
  
  var obj = content1.objectAt(3);
  ok(obj !== null, 'precond -has object to edit');
  
  obj.set('title', 'FOO');
  view.reload.expect(NO, 0);
  view.contentPropertyDidChange.expect(0);
  view.computeLayout.expect(NO);
});








})();
</script>
	</body>
</html>
