<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Sproutcore Desktop</title>
  <script type="text/javascript">
/* >>>>>>>>>> BEGIN source/core.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================


/* >>>>>>>>>> BEGIN source/system/browser.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var SC = SC || { BUNDLE_INFO: {}, LAZY_INSTANTIATION: {} };

SC.browser = (function() {
  var userAgent = navigator.userAgent.toLowerCase();
  var version = (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [])[1] ;

  var browser = {
    version: version,
    safari: (/webkit/).test( userAgent ) ? version : 0,
    opera: (/opera/).test( userAgent ) ? version : 0,
    msie: (/msie/).test( userAgent ) && !(/opera/).test( userAgent ) ? version : 0,
    mozilla: (/mozilla/).test( userAgent ) && !(/(compatible|webkit)/).test( userAgent ) ? version : 0,
    mobileSafari: (/apple.*mobile.*safari/).test(userAgent) ? version : 0,
    windows: !!(/(windows)/).test(userAgent),
    mac: !!((/(macintosh)/).test(userAgent) || (/(mac os x)/).test(userAgent)),
    language: (navigator.language || navigator.browserLanguage).split('-', 1)[0]
  };
  
    browser.current = browser.msie ? 'msie' : browser.mozilla ? 'mozilla' : browser.safari ? 'safari' : browser.opera ? 'opera' : 'unknown' ;
  return browser ;
})();

/* >>>>>>>>>> BEGIN source/system/loader.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

SC.bundleDidLoad = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  if (!info) info = this.BUNDLE_INFO[bundle] = {} ;
  info.loaded = true ;
};

SC.bundleIsLoaded = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  return info ? !!info.loaded : false ;
};

SC.loadBundle = function() { throw "SC.loadBundle(): SproutCore is not loaded."; };

SC.setupBodyClassNames = function() {
  var el = document.body ;
  if (!el) return ;
  var browser, platform, shadows, borderRad, classNames, style;
  browser = SC.browser.current ;
  platform = SC.browser.windows ? 'windows' : SC.browser.mac ? 'mac' : 'other-platform' ;
  style = document.documentElement.style;
  shadows = (style.MozBoxShadow !== undefined) || 
                (style.webkitBoxShadow !== undefined) ||
                (style.oBoxShadow !== undefined) ||
                (style.boxShadow !== undefined);
  
  borderRad = (style.MozBorderRadius !== undefined) || 
              (style.webkitBorderRadius !== undefined) ||
              (style.oBorderRadius !== undefined) ||
              (style.borderRadius !== undefined);
  
  classNames = el.className ? el.className.split(' ') : [] ;
  if(shadows) classNames.push('box-shadow');
  if(borderRad) classNames.push('border-rad');
  classNames.push(browser) ;
  classNames.push(platform) ;
  if (SC.browser.msie==7) classNames.push('ie7') ;
  if (SC.browser.mobileSafari) classNames.push('mobile-safari') ;
  el.className = classNames.join(' ') ;
} ;

/* >>>>>>>>>> BEGIN bundle_loaded.js */
; if ((typeof SC !== 'undefined') && SC && SC.bundleDidLoad) SC.bundleDidLoad('sproutcore/bootstrap');

</script>

     <link href="/static/sproutcore/testing/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/foundation/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/desktop/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
   
    
  </head>
    
  <body class="sc-theme focus" style="overflow:hidden;" >  
<script type="text/javascript">
/* >>>>>>>>>> BEGIN source/setup_body_class_names.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

// sc_resource('setup_body_class_names'); // publish into inline format

if (SC.setupBodyClassNames) SC.setupBodyClassNames() ;


</script>


  <script type="text/javascript" src="/static/sproutcore/debug/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/testing/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/runtime/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/datastore/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/foundation/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/desktop/en/current/javascript.js?1262955396"></script>
<script type="text/javascript">String.preferredLanguage = "en";</script>
<script type="text/javascript">
if (typeof SC !== "undefined") {
  SC.mode = "TEST_MODE";
  SC.filename = "static/sproutcore/desktop/en/current/tests/views/collection/deleteSelection.js"; 
}
(function() {
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            portions copyright @2009 Apple Inc.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var view, sel, beforeLen, afterLen, content ;

module("SC.CollectionView.deleteSelection", {
  setup: function() {

    content = "1 2 3 4 5 6 7 8 9 10".w().map(function(x) {
      return SC.Object.create({ title: x });
    });

    sel  = SC.SelectionSet.create().add(content,4,2);

    view = SC.CollectionView.create({
      content: content,
      selection: sel,
      canDeleteContent: YES
    });
    
    beforeLen = content.get('length');
    afterLen  = beforeLen - sel.get('length');
  }
});

// ..........................................................
// BASIC OPERATIONS
// 

test("canDeleteContent", function() {
  
  view.set('canDeleteContent', NO);
  equals(view.deleteSelection(), NO, 'should return NO if not allowed');
  equals(content.get('length'), beforeLen, 'content.length should not change');
  equals(view.get('selection').get('length'), 2, 'should not change selection');
  
  view.set('canDeleteContent', YES);
  equals(view.deleteSelection(), YES, 'should return YES if allowed');
  equals(content.get('length'), afterLen, 'content.length should change');
  equals(view.get('selection').indexSetForSource(content).get('min'), 3, 'should select an adjacent item');
});

test("empty selection case", function() {
  view.select(null); // clear selection
  view.set('canDeleteContent', YES);
  equals(view.get('selection').get('length'), 0, 'precond - should have empty selection');

  equals(view.deleteSelection(), NO, 'should return NO if not allowed');
  equals(content.get('length'), beforeLen, 'content.length should not change');
});

test("delegate.collectionViewShouldDeleteIndexes", function() {
  view.set('canDeleteContent', YES);
  view.delegate = SC.Object.create(SC.CollectionViewDelegate, {
    
    v: null,
    
    collectionViewShouldDeleteIndexes: function() { return this.v; }
  });

  // delegate returns NO
  equals(view.deleteSelection(), NO, 'should return NO if not allowed');
  equals(content.get('length'), beforeLen, 'content.length should not change');
  equals(view.get('selection').get('length'), 2, 'should not change selection');
  
  // delegate returns partial
  view.delegate.v = SC.IndexSet.create(4,1);
  equals(view.get('selectionDelegate'), view.delegate, 'selection delegate should be delegate object');
  equals(view.deleteSelection(), YES, 'should return YES if allowed');
  equals(content.get('length'), afterLen+1, 'content.length should change');
  equals(view.get('selection').get('length'), 1, 'non-deleted parts should remain selected %@'.fmt(view.get('selection')));
});

// ..........................................................
// EDGE CASES
// 

// Add special edge cases here
})();
</script>
	</body>
</html>
