<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Sproutcore Desktop</title>
  <script type="text/javascript">
/* >>>>>>>>>> BEGIN source/core.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================


/* >>>>>>>>>> BEGIN source/system/browser.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

var SC = SC || { BUNDLE_INFO: {}, LAZY_INSTANTIATION: {} };

SC.browser = (function() {
  var userAgent = navigator.userAgent.toLowerCase();
  var version = (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [])[1] ;

  var browser = {
    version: version,
    safari: (/webkit/).test( userAgent ) ? version : 0,
    opera: (/opera/).test( userAgent ) ? version : 0,
    msie: (/msie/).test( userAgent ) && !(/opera/).test( userAgent ) ? version : 0,
    mozilla: (/mozilla/).test( userAgent ) && !(/(compatible|webkit)/).test( userAgent ) ? version : 0,
    mobileSafari: (/apple.*mobile.*safari/).test(userAgent) ? version : 0,
    windows: !!(/(windows)/).test(userAgent),
    mac: !!((/(macintosh)/).test(userAgent) || (/(mac os x)/).test(userAgent)),
    language: (navigator.language || navigator.browserLanguage).split('-', 1)[0]
  };
  
    browser.current = browser.msie ? 'msie' : browser.mozilla ? 'mozilla' : browser.safari ? 'safari' : browser.opera ? 'opera' : 'unknown' ;
  return browser ;
})();

/* >>>>>>>>>> BEGIN source/system/loader.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

SC.bundleDidLoad = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  if (!info) info = this.BUNDLE_INFO[bundle] = {} ;
  info.loaded = true ;
};

SC.bundleIsLoaded = function(bundle) {
  var info = this.BUNDLE_INFO[bundle] ;
  return info ? !!info.loaded : false ;
};

SC.loadBundle = function() { throw "SC.loadBundle(): SproutCore is not loaded."; };

SC.setupBodyClassNames = function() {
  var el = document.body ;
  if (!el) return ;
  var browser, platform, shadows, borderRad, classNames, style;
  browser = SC.browser.current ;
  platform = SC.browser.windows ? 'windows' : SC.browser.mac ? 'mac' : 'other-platform' ;
  style = document.documentElement.style;
  shadows = (style.MozBoxShadow !== undefined) || 
                (style.webkitBoxShadow !== undefined) ||
                (style.oBoxShadow !== undefined) ||
                (style.boxShadow !== undefined);
  
  borderRad = (style.MozBorderRadius !== undefined) || 
              (style.webkitBorderRadius !== undefined) ||
              (style.oBorderRadius !== undefined) ||
              (style.borderRadius !== undefined);
  
  classNames = el.className ? el.className.split(' ') : [] ;
  if(shadows) classNames.push('box-shadow');
  if(borderRad) classNames.push('border-rad');
  classNames.push(browser) ;
  classNames.push(platform) ;
  if (SC.browser.msie==7) classNames.push('ie7') ;
  if (SC.browser.mobileSafari) classNames.push('mobile-safari') ;
  el.className = classNames.join(' ') ;
} ;

/* >>>>>>>>>> BEGIN bundle_loaded.js */
; if ((typeof SC !== 'undefined') && SC && SC.bundleDidLoad) SC.bundleDidLoad('sproutcore/bootstrap');

</script>

     <link href="/static/sproutcore/testing/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/foundation/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/desktop/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
   
    
  </head>
    
  <body class="sc-theme focus" style="overflow:hidden;" >  
<script type="text/javascript">
/* >>>>>>>>>> BEGIN source/setup_body_class_names.js */
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            Portions ©2008-2009 Apple Inc. All rights reserved.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

// sc_resource('setup_body_class_names'); // publish into inline format

if (SC.setupBodyClassNames) SC.setupBodyClassNames() ;


</script>


  <script type="text/javascript" src="/static/sproutcore/debug/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/testing/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/runtime/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/datastore/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/foundation/en/current/javascript.js?1262955396"></script>
  <script type="text/javascript" src="/static/sproutcore/desktop/en/current/javascript.js?1262955396"></script>
<script type="text/javascript">String.preferredLanguage = "en";</script>
<script type="text/javascript">
if (typeof SC !== "undefined") {
  SC.mode = "TEST_MODE";
  SC.filename = "static/sproutcore/desktop/en/current/tests/views/collection/ui_diagram.js"; 
}
(function() {
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            portions copyright @2009 Apple Inc.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

/* Test SC.StackedView with a Comments example. */

htmlbody(["<style>",
  '.sc-collection-view { border: 1px black solid; background-color: white; }',
  '.shape.sel { background-color: #f55; color: white; }',
  '.shape { background-color: #ddd; border: 1px black solid; color: black; box-shadow: 3px 3px 5px #888; }',
  '.shape label { position: absolute; left: 0; right: 0; height: 12px; margin-top: -6px; top: 50%; font-size: 11px; text-align: center; }',
'</style>'].join("\n"));

var ShapeView = SC.View.extend(SC.Control, {
  
  content: null,
  
  classNames: 'shape',

  DIMENSION_KEYS: 'x y width height'.w(),
  
  contentPropertyDidChange: function(target, key) {
    if (key === '*') {
      this.recomputeLayout();
      this.displayDidChange();
    } else if (key === 'label') {
      this.displayDidChange();
    } else if (this.DIMENSION_KEYS.indexOf(key) >= 0) {
      this.recomputeLayout();
    }
  },
  
  recomputeLayout: function() {
    var content = this.get('content'), layout ;
    if (content) {
      layout = {
        top: content.get('y'),
        left: content.get('x'),
        width: content.get('width'),
        height: content.get('height')
      };
    } else {
      layout = { top: 0, left: 0, height: 0, width: 0 };
    }
    
    this.set('layout', layout);
  },
  
  render: function(context, firstTime) {
    var label = this.getPath('content.label');
    context.push('<label>', label, '</label>');  
  }
});

var content = [
  SC.Object.create({ 
    label: "Shape 1", 
    x: 10, y: 10, width: 100, height: 50
  }),

  SC.Object.create({ 
    label: "Shape 2", 
    x: 50, y: 50, width: 65, height: 200
  }),

  SC.Object.create({ 
    label: "Shape 3", 
    x: 100, y: 80, width: 200, height: 72
  })

];

var extra = SC.Object.create({
  label: "Extra Shape",
  x: 70, y: 70, width: 40, height: 50
});

var ShapeCanvasView = SC.CollectionView.extend({
  
  // save position on screen at mouse down so that we can properly compute
  // you can save in mouseDownInfo, which will be cleared on mouseUp
  mouseDown: function(ev) {
    var ret = arguments.callee.base.apply(this,arguments);
    if (ret) {
      var offset = { x: ev.pageX, y: ev.pageY };
      this.mouseDownInfo.dragAnchor = this.convertFrameFromView(offset, null); 
    }
    return ret ;
  },
  
  // handle dragging of content around on the screen
  mouseDragged: function(ev) {
    var info   = this.mouseDownInfo,
        items  = info.dragContent,
        anchor = info.dragAnchor,
        xpoints = info.xpoints,
        ypoints = info.ypoints,
        adjust, sel, item, content, idx;

    // if no items have been collected yet, this is the first time drag is 
    // called.  collect content items to drag.  If there is no selection, etc
    // just clear the anchor prop so that we don't try to drag again
    if (!items) {
      sel = this.get('selection');
      content = this.get('content');
    
      // collect info about items to drag.  save initial x/y coordinates so we
      // can edit them later
      if (content && sel && sel.get('length') > 0) {

        xpoints = info.xpoints = [];
        ypoints = info.ypoints = [];
        items   = info.dragContent = [];
      
        sel.forEach(function(idx) { 
          item = content.objectAt(idx);
          if (!item) return; // nothing to do here
          items.push(item);
          xpoints.push(item.get('x'));
          ypoints.push(item.get('y'));
        }, this); 
      
        info.shouldReselect = NO; // once we drag, don't alter selection
        
      // if no content or no selection or selection is empty, just disable
      } else anchor = info.dragAnchor = null ;
    }
  
    // if anchor is empty, dragging is disabled for this mouse down.
    if (!anchor) return arguments.callee.base.apply(this,arguments);
  
    // now figure the adjustment for content items.  
    adjust = this.convertFrameFromView({ x: ev.pageX, y: ev.pageY }, null);
    adjust.x -= anchor.x;
    adjust.y -= anchor.y;
    
    // and move each
    idx = items.length;
    while(--idx >= 0) {
      item = items[idx];
      item.beginPropertyChanges()
        .set('x', xpoints[idx] + adjust.x)
        .set('y', ypoints[idx] + adjust.y)
      .endPropertyChanges();
    }
  
    return YES ;
  }
  
});

var pane = SC.ControlTestPane.design()
  .add("basic", ShapeCanvasView, {
    layout: { top: 0, left: 0, right: 0, height: 300 },
    content: content,
    exampleView: ShapeView,
    allowDeselectAll: YES
  });
  
pane.show(); // add a test to show the test pane
window.pane = pane ;

// ..........................................................
// BASIC TESTS
// 
module("Basic Tests", pane.standardSetup());



// ..........................................................
// SPECIAL CASES
// 

// tests specific bug where a series of many edits strung together would 
// cause the height to get out of sync.





})();
</script>
	</body>
</html>
