<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name = "viewport" content = "width = device-width, height = device-height, user-scalable = no" />
    
    <title>Sproutcore Mobile</title>
     <link href="/static/sproutcore/testing/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/foundation/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
  <link href="/static/sproutcore/mobile/en/current/stylesheet.css?1262955016" rel="stylesheet" type="text/css" />
   
  </head>
    
  <body class="sc-theme focus">  

  <script type="text/javascript" src="/static/sproutcore/debug/en/current/javascript.js?1262955431"></script>
  <script type="text/javascript" src="/static/sproutcore/testing/en/current/javascript.js?1262955431"></script>
  <script type="text/javascript" src="/static/sproutcore/runtime/en/current/javascript.js?1262955431"></script>
  <script type="text/javascript" src="/static/sproutcore/datastore/en/current/javascript.js?1262955431"></script>
  <script type="text/javascript" src="/static/sproutcore/foundation/en/current/javascript.js?1262955431"></script>
  <script type="text/javascript" src="/static/sproutcore/mobile/en/current/javascript.js?1262955431"></script>
<script type="text/javascript">String.preferredLanguage = "en";</script>
<script type="text/javascript">
if (typeof SC !== "undefined") {
  SC.mode = "TEST_MODE";
  SC.filename = "static/sproutcore/mobile/en/current/tests/views/button/ui.js"; 
}
(function() {
// ==========================================================================
// Project:   SproutCore - JavaScript Application Framework
// Copyright: ©2006-2009 Sprout Systems, Inc. and contributors.
//            portions copyright @2009 Apple Inc.
// License:   Licened under MIT license (see license.js)
// ==========================================================================

/*global module test htmlbody ok equals same stop start */


})();
</script>
	</body>
</html>
